.DS_Store
.dart_tool/

.packages
.pub/
build/*
.idea
janus_client.iml
flutter_janus_client.iml
.last_build_id
.metadata
example/build/ios
example/build/flutter_assets
example/.flutter-plugins-dependencies
