name: Flutter Web
on:
  push:
    branches:
      - demo_v2
  workflow_dispatch:  # This will allow the workflow to be triggered manually

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
      # Checkout the source code
      - uses: actions/checkout@v3

      # Set up Flutter
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          
      # Enable Flutter web support
      - run: cd example && flutter pub get && flutter build web --release --base-href "/flutter_janus_client/"
  
      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web